@media screen and (min-width: 768px) and (max-width: 1200px) {
  .admin__panel {
    width: 100%;
    overflow-x: hidden;
  }
  .admin__sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #33339B;
    -webkit-transition: margin-left .5s ease;
    -o-transition: margin-left .5s ease;
    transition: margin-left .5s ease;
    z-index: 20;
    max-height: 100vh;
    overflow-y: auto;
    margin-left: -250px;
  }
  .admin__sidebar.active {
    margin-left: 0;
  }
  .admin__sidebar nav {
    margin-bottom: 50px;
  }
  .admin__sidebar .sidebar__desc {
    position: unset;
  }
  .admin__content {
    min-width: 100%;
    max-width: 100%;
  }
  .admin__content.border {
    border-top-left-radius: 0;
  }
  .admin__content .menu__icon {
    cursor: pointer;
  }
  .admin__content .internship__cont .carousel-cell {
    max-width: 100%;
  }
  .admin__content .filterBar {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    grid-gap: 20px;
  }
  .admin__content .filterBar .filter__desc {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  header .rgh-side img {
    max-width: 200px;
  }
  header .lf-side .nav-items {
    font-size: 16px;
    margin-right: 15px;
  }
  header .lf-side .nav-items:last-child {
    font-size: 15px;
    padding: 0 15px;
    height: 40px;
  }
  section.sign-up-sd {
    padding: 30px 0;
  }
  section.sign-up-sd .sign__desc {
    padding: 0;
  }
  section.sign-up-sd .sign-title {
    margin-bottom: 20px;
  }
  section.sign-up-sd .sign-dsc {
    text-align: center;
  }
  .admin__content .professions__cont .profession__card {
    width: calc(50% - 15px);
  }
  .admin__content .courses__main {
    width: 100%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .admin__content .courses__sidebar {
    margin: 0 auto 30px;
  }
  .admin__content .test__btns {
    grid-gap: 15px;
    -webkit-flex-wrap: unset;
        -ms-flex-wrap: unset;
            flex-wrap: unset;
  }
  .admin__content .test__btns button {
    font-size: 14px;
    padding: 0 15px;
    height: 40px;
  }
  .admin__content .result__cont .chapter__desc {
    width: 100%;
  }
  .admin__content .result__cont .chapter__video {
    width: 100%;
    margin-bottom: 20px;
  }
  .admin__content .goals__filterBar .sortBy {
    margin-left: auto;
  }
  .admin__content .chapter__results .chapter__results--cont .tab__contents {
    overflow-x: scroll;
  }
}

@media screen and (max-width: 767px) {
  header {
    position: fixed;
    background: white;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 20;
  }
  header .container {
    height: 70px;
  }
  header .menu__icon {
    width: 24px;
    height: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  header .menu__icon span {
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 2px;
    background: black;
    border-radius: 5px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  header .menu__icon span:nth-child(2) {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  header .menu__icon span:nth-child(3) {
    bottom: 0;
    top: unset;
  }
  header .menu__icon.active span:first-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 50%;
  }
  header .menu__icon.active span:nth-child(2) {
    left: -45vw;
  }
  header .menu__icon.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 40%;
  }
  header .rgh-side {
    left: calc(50% - 24px);
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
    position: relative;
    max-width: calc(100% - 70px);
  }
  header .rgh-side img {
    width: 100%;
    max-width: 250px;
    height: unset;
  }
  header .lf-side {
    position: absolute;
    left: -100vw;
    width: 100%;
    top: 70px;
    height: 100vh;
    background: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 0;
    border-top: 1px solid rgba(80, 80, 80, 0.4);
    -webkit-transition: left .3s ease;
    -o-transition: left .3s ease;
    transition: left .3s ease;
  }
  header .lf-side .nav-items {
    margin: 10px 0;
  }
  header .lf-side.active {
    left: 0;
  }
  section.sign-up-sd .sign__img {
    display: none;
  }
  section.sign-up-sd .sign__desc {
    width: 100%;
    padding: 30px 0;
  }
  section.sign-up-sd .sign-title {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 15px;
  }
  section.sign-up-sd .sign-dsc {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  section.sign-up-sd .sign-form input {
    height: 50px;
  }
  section.sign-up-sd .sign-form button {
    margin-top: 20px;
  }
  .admin__sidebar {
    position: fixed;
    left: -100%;
    top: 0;
    background: #33339B;
    -webkit-transition: left .5s ease;
    -o-transition: left .5s ease;
    transition: left .5s ease;
    z-index: 20;
    width: calc(100% - 15px);
    padding: 0 0 50px;
    max-height: 100vh;
    overflow-y: auto;
  }
  .admin__sidebar.active {
    left: 0;
  }
  .admin__sidebar nav {
    margin-bottom: 50px;
  }
  .admin__sidebar .sidebar__desc {
    position: unset;
  }
  .admin__content {
    width: 100%;
    border-radius: 0;
    padding-top: 70px;
    overflow-x: hidden;
  }
  .admin__content .content__header {
    height: 70px;
    padding: 0 15px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 20;
    background: white;
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  }
  .admin__content .header__title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: calc(100% - 100px);
    font-size: 16px;
    line-height: 20px;
  }
  .admin__content .header__title svg {
    margin-right: 15px;
    min-width: 25px;
    max-width: 25px;
    width: unset;
    cursor: pointer;
  }
  .admin__content .header__notify__btn {
    width: 40px;
    height: 40px;
  }
  .admin__content .header__notify__btn svg {
    width: 20px;
    height: 20px;
  }
  .admin__content .header__notify__btn span {
    font-size: 10px;
    line-height: unset;
    font-weight: normal;
  }
  .admin__content .header__account {
    margin-left: 15px;
  }
  .admin__content .header__account .account__img {
    margin-right: 0;
    width: 40px;
    height: 40px;
  }
  .admin__content .header__account .account__desc {
    display: none;
  }
  .admin__content .content__body {
    padding: 20px 15px;
  }
  .admin__content .account__datas {
    padding: 30px 20px;
    max-width: 339px;
    width: 100%;
    margin: 0 auto;
  }
  .admin__content .account__datas .account__img {
    margin-bottom: 20px;
  }
  .admin__content .account__datas .account__desc {
    margin-bottom: 20px;
  }
  .admin__content .last__actions {
    margin-bottom: 30px;
  }
  .admin__content main {
    width: 100%;
    margin: 0;
    padding: 30px 0;
  }
  .admin__content main .section__title {
    font-size: 18px;
    line-height: 26px;
  }
  .admin__content main .text__box {
    padding: 25px 20px;
    margin-bottom: 50px;
  }
  .admin__content .internship {
    margin-bottom: 50px;
  }
  .admin__content .internship:last-child {
    margin-bottom: 0;
  }
  .admin__content .internship__cont {
    width: 100%;
    overflow: visible;
  }
  .admin__content .internship__cont .flickity-page-dots {
    width: 100%;
    right: 0;
    top: calc(100% + 20px);
  }
  .admin__content .internship__cont .internship__carousel {
    margin-bottom: 50px;
  }
  .admin__content .internship__cont .more__btn {
    margin: 0 auto;
  }
  .admin__content .mentors .carousel-cell {
    max-width: 100%;
  }
  .admin__content .bigSearchBox {
    height: unset;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 5px 15px 15px;
  }
  .admin__content .bigSearchBox .mySelect {
    width: 100%;
    border-bottom: 1px solid rgba(80, 80, 80, 0.1);
  }
  .admin__content .bigSearchBox .mySelect .nice-select {
    width: 100%;
    border-right: none;
    padding-right: 0;
  }
  .admin__content .bigSearchBox .mySelect .nice-select:after {
    right: 5px;
  }
  .admin__content .bigSearchBox .mySelect .nice-select .list {
    left: 0;
    min-width: unset;
    width: 100%;
  }
  .admin__content .bigSearchBox input {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid rgba(80, 80, 80, 0.1);
    margin-bottom: 15px;
  }
  .admin__content .bigSearchBox .btns {
    margin-left: auto;
  }
  .admin__content .suggestions {
    max-width: 100%;
    overflow-x: auto;
  }
  .admin__content .filterBar {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    grid-gap: 20px;
  }
  .admin__content .filterBar .filter__desc {
    width: 100%;
  }
  .admin__content .filterBar .sortBy {
    margin-left: auto;
  }
  .admin__content .professions__cards .statistics {
    margin-bottom: 20px;
  }
  .admin__content .professions__cont {
    padding-bottom: 25px;
  }
  .admin__content .professions__cont .profession__card {
    width: 100%;
  }
  .admin__content .pagination {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .admin__content .pagination .pages {
    margin: 10px 0;
  }
  .admin__content .goBack__btn {
    margin-bottom: 20px;
  }
  .admin__content .about__profession__box {
    padding: 20px;
  }
  .admin__content .about__profession__box .left {
    width: 100%;
    margin-bottom: 20px;
  }
  .admin__content .about__profession__box .right {
    width: 100%;
    padding: 0;
  }
  .admin__content .about__profession__box .right:before {
    display: none;
  }
  .admin__content .about__profession__box .img {
    padding: 0;
    width: 100%;
    max-width: 295px;
    margin-bottom: 20px;
  }
  .admin__content .about__profession__box .desc {
    width: 100%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    padding: 0;
  }
  .admin__content .about__profession__box .socialNetworks {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    grid-gap: 20px;
    margin-top: 30px;
  }
  .admin__content .courses__main {
    width: 100%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .admin__content .courses__sidebar {
    margin: 0 auto 40px;
    max-width: 100%;
  }
  .admin__content .course__cards .statistics {
    margin-bottom: 30px;
  }
  .admin__content .courseCards__cont {
    margin-bottom: 30px;
  }
  .admin__content .courseCards__cont .carousel-cell {
    width: calc(50% - 15px) !important;
  }
  .admin__content .test__cont .test__item {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 100%;
  }
  .admin__content .test__cont .box__body {
    overflow-x: auto;
  }
  .admin__content .test__cont .radio__item {
    min-width: 140px;
    width: unset;
  }
  .admin__content .test__cont .box__question {
    min-width: 300px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .admin__content .result__cont .chapter__header {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .admin__content .result__cont .chapter__header h3 {
    width: 100%;
  }
  .admin__content .result__cont .chapter__header .test__btns {
    margin: 0 auto 30px;
  }
  .admin__content .result__cont .chapter__desc {
    width: 100%;
  }
  .admin__content .result__cont .chapter__video {
    margin-bottom: 25px;
  }
  .admin__content .chapter__results .tab__buttons {
    width: 100%;
    padding: 0;
  }
  .admin__content .chapter__results .chapter__results--cont {
    padding-bottom: 20px;
  }
  .admin__content .chapter__results .chapter__results--cont .tab__contents {
    width: 100%;
    overflow-x: scroll;
  }
  .admin__content .chapter__results .chapter__results--cont .tab__content {
    width: 100%;
  }
  .admin__content .table__cont table {
    display: block;
    width: unset;
    max-width: 100%;
    overflow-x: scroll;
  }
  .admin__content .table__cont th, .admin__content .table__cont td {
    min-width: 200px;
  }
  .admin__content .schedule__content {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .admin__content .schedule__content .schedule__img {
    width: 100%;
  }
  .admin__content .schedule__content .schedule__desc {
    width: 100%;
    padding: 0;
  }
  .admin__content .graphs__cont {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .admin__content .goals__filterBar .sortBy {
    margin-left: auto;
  }
  .admin__content .goals__form input {
    width: 100% !important;
  }
  .admin__content .goals__form input:first-of-type {
    border-right: none;
    margin-bottom: 0;
  }
  .admin__content .goals__table table {
    display: block;
    width: unset;
    max-width: 100%;
    overflow-x: scroll;
  }
  .admin__content .goals__table tr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .admin__content .goals__table th {
    white-space: nowrap;
  }
  .admin__content .goals__table .goal__num {
    min-width: 100px;
  }
  .admin__content .goals__table .goal__date {
    min-width: 150px;
    white-space: nowrap;
  }
  .admin__content .test__cont .test__box {
    margin-bottom: 30px;
  }
  .admin__content .test__cont .box__header {
    padding: 20px 20px;
    min-height: unset;
  }
  .admin__content .test__cont .box__header h3 {
    font-size: 15px;
    line-height: 20px;
  }
  .admin__content .test__cont .test__item {
    padding: 20px;
  }
  .admin__content .test__cont .radio__item label {
    font-size: 14px;
    line-height: 20px;
  }
  .admin__content .test__cont .radio__item label:before {
    margin-right: 10px;
  }
  .admin__content .test__btns button {
    font-size: 14px;
    height: 35px;
    padding: 0 20px;
  }
  .admin__content .test__btns button svg {
    width: 20px;
  }
  .admin__content .result__cont .chapter__body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .admin__content .result__cont .chapter__body p, .admin__content .result__cont .chapter__body ul {
    margin-bottom: 20px;
  }
  .admin__content .result__cont .chapter__desc {
    padding: 0;
  }
  .admin__content .result__cont .chapter__video {
    margin-top: 30px;
  }
  .admin__content .chapter__results {
    padding-left: 20px;
    padding-right: 20px;
  }
  .admin__content .chapter__results p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .admin__content .chapter__results .section__title {
    font-size: 18px;
    line-height: 26px;
  }
  .admin__content .chapter__results .chapter__results--cont .tab__buttons {
    width: 100%;
    padding: 0;
  }
  .admin__content .chapter__results .chapter__results--cont .tab__buttons button h4 {
    font-size: 14px;
  }
  .admin__content .chapter__results .chapter__results--cont .tab__content {
    width: 100%;
  }
  .admin__content .chapter__results--cont2 .tab__buttons button {
    width: 100%;
  }
  .admin__content .chapter__results--cont2 .table__cont {
    margin: 0 -20px;
    width: calc(100% + 40px);
  }
  .admin__content .chapter__results--cont2 .table__cont td, .admin__content .chapter__results--cont2 .table__cont th {
    padding: 20px 20px;
  }
  .admin__content .orientation__table {
    width: 100%;
  }
  .admin__content .orientation__table .table__header {
    padding: 20px 20px;
  }
  .admin__content .orientation__table .table__header h3 {
    font-size: 16px;
  }
  .admin__content .orientation__table .table__body {
    padding: 25px 20px;
  }
  .admin__content .orientation__table .question__cont {
    grid-gap: 20px;
  }
  .admin__content .orientation__table .question__cont .question {
    width: calc(50% - 10px);
  }
  .admin__content .buy-tests__cont {
    padding: 25px 20px;
  }
}
